.input{
    border: 2px solid #C2C2C2;
    background-color: #F5F5F5;
    color: #333;
    padding: 10px 14px;
    border-radius: 14px;
    width: 100%;
    display: flex;
    font-size: 16px;
    box-sizing: border-box;
}

.input::placeholder {
    color: #C2C2C2;
}

.input:focus {
    outline: none;
    border-color: #00C8B3;
}