.sidebarContainer {
    width: 260px;
    height: 100vh;
    border-right: 2px;
    border-color: #C2C2C2;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    z-index: 2;
}

.sidebarButton {
    color: C2C2C2;
    height: 60px;
    width: 230px;
}

.sidebarButton.active {
    background-color: #00C0E8;
    border-radius: 20px;
    border-color: #02B1D5;
}