.sidebarScreenSetting {
    display: flex;
}

.sidebarContainer {
    width: 260px;
    height: 100%;
    border-right: 10px;
    top: 0px;
    border-color: #C2C2C2;
    margin-right: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    z-index: 2;
    background-color: #244870;
}

.sidebarButton {
    border: 5px solid transparent;
    border-radius: 20px;
    padding: 15px;
    margin: 10px auto;
    color: #C2C2C2;
    width: 200px;
    text-align: center;
    background-color: transparent;
}

.sidebarButton:hover {
    border: 5px solid #E4B808;
}

.sidebarButton:active {
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid #FFFEF8;
}

.sidebarButtonText {
    top: 10px;
}


.sidebarButton.active {
    border: 5px solid #FFFEF8;
    border-color: #02B1D5;
}